@use '_variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:global(*) {
	margin: 0;
	padding: 0;
	color: $white;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:global(html, body) {
	height: 100%;
	background: variables.$neutral-500;
}
