$mobile-width: 700px;

$neutral-500: #232627;
$neutral-400: #2a2c2e;
$neutral-300: #363b3b;

$white: #d2d3d3;

$primary: #9258b1;

$error-red: rgb(160, 0, 0);

$spacing-default: 1.5rem;
$spacing-small: 0.5rem;

$border-width: 2px;
